<!-- world-map.component.html -->
<div class="world-map-container">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 600">
    <!-- Include the SVG image -->
    <image xlink:href="/assets/Group280.svg" width="1000" height="600"></image>

    <!-- Add the North America region with a mouseover event -->
    <polygon
      id="north-america"
      points="100,100 200,100 200,200 100,200"
      (mouseenter)="onRegionHover('north-america')"
      (mouseleave)="onRegionLeave('north-america')"
    />

    <!-- Hidden popup element -->
    <div class="popup" [ngStyle]="popupStyles" *ngIf="showPopup">
      {{ popupContent }}
    </div>
  </svg>
</div>
