/* Apply hover effect for the sections */
#north-america:hover { fill: #B1D1FF; }
#south-america:hover { fill: #75ACFC; }
#africa:hover { fill: #C4D4EF; }
#europe:hover { fill: #0B5ED7; }
#asia:hover { fill: #75ACFC; }
#australia:hover { fill: #0B5ED7; }


/* world-map.component.css */
.world-map-container {
  position: relative;
  width: 1000px;
  height: 600px;
}

.world-map-container svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* Adjust z-index to make sure the SVG is at the back */
}

.world-map-container svg polygon {
  fill: transparent; /* Set the initial fill to transparent to avoid covering the map */
  pointer-events: all;
}
.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #FFD700; /* Change to your desired background color (e.g., gold) */
  padding: 12px; /* Increase the padding to make the popup larger */
  border-radius: 8px; /* Increase the border-radius for rounded corners */
  font-size: 16px; /* Increase the font size for better visibility */
  white-space: nowrap;
  transform: translate(-50%, -50%);
  pointer-events: none;
  display: none;
}

/* Show the popup when 'showPopup' is true */
.popup.ng-tns-c46-0 {
  display: block;
}
